<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messanges', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<!--  <span class="picture">-->
    <%#= f.file_field :picture %>
<!--  </span>-->
<% end %>